/* body {
  background-image: url("https://images.unsplash.com/photo-1479501682522-94d08a326720?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
} */


.form-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.form-container h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: #333;
  text-shadow: 1px 1px #ccc;
}

.form-container label {
  font-size: 20px;
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
  display: block;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-container input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container input[type="checkbox"] {
  margin-top: 10px;
}

.form-container button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 4px;
  border: none;
  background-color: #ff6f61;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container button[type="submit"]:hover {
  background-color: #f5584d;
}
